h2 {
    font-family: arial;
    text-align: center;
}

form {
    display: inline-block;
}

#button, #clear {
    display: inline-block;
    height: 20px;
	width: 70px;
	background-color: green;
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	cursor: pointer;
}

#clear {
	background-color: red;
}

.list {
	font-family: garamond;
	color: green;
	text-align: center;
	max-height: 461px;
	max-width: 480px;
	overflow: auto;
}

.item {
	width: -moz-max-content;
	width: -o-max-content;
	width: -ms-max-content;
	width: -webkit-max-content;
	margin: 0 auto;
	opacity: 0;
}

.area {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	padding: 15px;
	border: 2px solid black;
	max-height: 600px;
	
}

.remover {
	cursor: pointer;
	color: red;
}